@charset "utf-8";

@import "normalize-rails";
@import "bourbon";
@import "base/grid-settings";
@import "neat";
@import "base/base";
@import "refills/flashes";

@import "bootstrap-sprockets";
@import "bootstrap";

@import "dropzone/dropzone";

.expandrew {
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  font-weight: 700;
  display:inline-block;
  letter-spacing: -.050em;
  transform: scale(.95,1);
  -webkit-transform: scale(.95,1);
}
