<h1 class="page_header">Upload</h1>
<p class="lead">You are uploading to the <span class="label label-default"><%= @folder.name %></span> folder.</p>

<%= form_for(Upload.new, url: upload_code_path(params[:code]), html: { multipart: true, class: "dropzone"}) do |f|  %>
  <div class="fallback">
    <%= f.file_field :image %><br>
    <%= f.submit "Upload my Image" %>
  </div>
<% end %>